.title{
  line-height: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.paramter {
  margin-bottom: 10px;
}
.paramter > div{
  padding: 13px 0;
  border-bottom: 1px solid #eee;
}

.paramter span{
  font-size: 19px;
  font-weight: bold;
  color: red;
}

.avatar {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.username {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
}

.count {
  border-bottom: none;
}

.loading {
  text-align: center;
}
.loading img{
  height: 150px;
  width: auto;
}