

<div class="status">
  <div class="weibo jumbotron">
    <h2 class="weibo_title"><img src="{{status.user.profile_image_url}}">{{status.user.screen_name}}</h2>
    <div class="weibo_content">
      {{status.text}}
    </div>
    <div class="weibo_pic">
      <img src="{{status.bmiddle_pic}}" alt=""/>
    </div>
  </div>
</div>

<div class="comments">
  <div id="discuss">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="comment in comments">
        <span class="list-group-item-avatar">
            <img src="{{comment.user.profile_image_url}}">
        </span>
        <span class="list-group-item-name">
            <a href="http://weibo.com/laogege" target="_blank" >{{comment.user.screen_name}}</a>
        </span>&nbsp:&nbsp
        <span class="list-group-item-content">
            {{comment.text}}
        </span>
      </li>
    </ul>
    <div class="blog_addMore" style="display: none">
      <span>正在加载……</span>
    </div>
  </div>
</div>

<div class="reports">
  <div class="report" ng-gender-report></div>
  <div class="report" ng-geo-report></div>
  <div class="report" ng-source-report></div>
  <div class="report" ng-timeline-report></div>
  <div class="report" ng-verify-report></div>
</div>