
<div class="container-fluid">

  <div class="col-md-3">
    <div class="row avatar">
      <img class="col-md-12 img-responsive" src="{{user.avatar_hd}}" alt=""/>
    </div>
    <div class="paramter">

      <div class="row description">
        <div class="col-md-12">{{user.description}}</div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="followers_count">
            粉丝：<span>{{user.followers_count}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="friends_count">
            关注：<span>{{user.friends_count}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="followers_count">
            粉丝：<span>{{user.followers_count}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="friends_count">
            关注：<span>{{user.friends_count}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9">

    <!-- 我的最新微博 -->
    <h3 class="title">我的最新微博</h3>
    <div ng-repeat="status in timelineStatus">
      <div class="panel panel-default">
        <div class="weibo panel-body">
          <div class="weibo_content">
            {{status.text}}
          </div>
          <div class="weibo_pic">
            <img src="{{status.thumbnail_pic}}" alt=""/>
          </div>
          <div class=" text-right">
            <button type="button" class="btn btn-info">分析微博</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 我的分析微博 -->
    <h3 class="title">我的分析微博</h3>
    <div ng-repeat="status in analyzeStatus">
      <div class="panel panel-default">
        <div class="weibo panel-body">
          <div class="weibo_content">
            {{status.text}}
          </div>
          <div class="weibo_pic">
            <img src="{{status.thumbnail_pic}}" alt=""/>
          </div>
          <div class=" text-right">
            <button type="button" class="btn btn-danger">查看报告</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>